@use "../mixins";
@use "../variables" as *;

.featured {
    margin-bottom: 2rem;
    overflow: hidden;

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        row-gap: 2.5rem;
        justify-content: center; 

        @include mixins.breakpoint-up(large){
            padding-top: 2rem;
        }

        .featured__card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 18rem;
            margin: 0 auto;
            background-color: #fff;
            padding: 2rem 0;
            transition: .3s;

            &:hover {
                box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.7);
            }

            &:hover .featured__button {
                opacity: 1;
            }

            .featured__tag {
                background-color: $firstClr;
                padding: .5rem 1rem;
                color: #fff;
                text-transform: uppercase;
                font-size: $fontSm;
                font-weight: $weightMd;
                position: absolute;
                transform: rotate(-90deg);
                left: -1rem;
                top: 2rem;
            }

            .featured__img {
                height: 214px;
                margin-bottom: 1rem;
                overflow: hidden;
            }

            .featured__title,
            .featured__price {
                font-size: 1.5rem;
                font-weight: $weightMd;
            }

            .featured__title {
                text-transform: uppercase;
                margin-bottom: $mb-0-75;
            }

            .featured__price {
                display: block;
                color: $firstClr;
                transition: .3s;
            }

            .featured__button {
                font-size: $fontSm;
                opacity: 0;
            }
        }
    }
}
